<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Memdash</title>
  <link href="<%= u 'reset.css' %>" media="screen" rel="stylesheet" type="text/css">
  <link href="<%= u 'jquery.jqplot.min.css' %>" media="screen" rel="stylesheet" type="text/css">
  <link href="<%= u 'style.css' %>" media="screen" rel="stylesheet" type="text/css">
</head>
<body>
  <%= yield %>
  
  <footer>
    <p>Powered by <a href="http://github.com/bryckbost/memdash">Memdash</a>.</p>
  </footer>

  <script src="http://code.jquery.com/jquery-1.7.2.min.js" type="text/javascript"></script>
  <script src="<%= u 'jquery.jqplot.min.js' %>" type="text/javascript"></script>
  <script src="<%= u 'jqplot.canvasTextRenderer.min.js' %>" type="text/javascript"></script>
  <script src="<%= u 'jqplot.canvasAxisTickRenderer.min.js' %>" type="text/javascript"></script>
  <script src="<%= u 'jqplot.dateAxisRenderer.min.js' %>" type="text/javascript"></script>
  <script src="<%= u 'charts.js' %>" type="text/javascript"></script>
</body>
</html>